---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgB2Pp4oQgzFqx96sVJ/7JJaljp4aVKx0X5ZtaYhAizN8JIK60F3zXHnfJgih85TIS2yQM4JR+3Kuxhrldt7eKpwv4WHAcVkMB75FOKTim5UdYr3VTVDAmAuJ1o4NNsyOtrZ/5LVB5i5QUNPVU05AI3EF/3Wr4RUw2VxK0Y2rKDCNPdzs0WP+QF5wQuAaK5GmlQvQkP44CjERCsjei3TFo9MxlhDtNZESmAVCjVHS3vZys5dyCYsBSbrANq6FrKtjWEFTzDMAEMIOLrBEyMlXJlzEnjLc0Tkwpdkct18vcIugkUawo1VFpzXupNvRhlwbk4l7kaGf4Iqs/35fHZushw58e4D5wBjaz59LgaX3kHzysxQh6xFhh1I6ahbCfMkHc+A/XbI1SUFZlJqvTCW1M2+pXfn9Oi9kHLhv8AMKNE3WjN8wSgqS5TsPu36+sxaPbhVHgxHCxtnJ+huF84O2Cgx0EFEpCQDLkhuKnCesJoE7K+LBb8wR7S+cOeHW6f7plH+fLIjTGp4KTFm11BNKRc5kjjiWDVK4/6cfD5UkztGwpHHee18ai7OlpUuW82Amb12+VEVyuWZAQBBiOogdAOT3P4mqTKz0wEbhUJE7XS4wfhdmiAODawLe/TW4125A0ABYasvYghsiD16gIKD8ZL+rqRSyXIAp9Uzqb7pU422y4H8chaBDsatYEsArkVr7VX+0EWoCRLKaN+8OaYk2Rv+pzShGjcNIzXAquxhgdRXt4qaOHsKgUc6
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token
      namespace: cert-manager
    type: Opaque
